<footer>
    <h5 class="footer-contact-title">Kapcsolat</h5>
    <p class="footer-phone-number">Telefonszám: <span><a class="phone-link"
                href="tel: +36306091024">+36306091024</a></span></p>
    <p class="footer-email">E-mail: <span><a class="email-link"
                href="mailto:adesszert@gmail.com?subject=Rendelés">adesszert@gmail.com</a></span></p>
</footer>