<footer>
    <div class="footer-div">
        <div class="paragraphs">
            <h5 class="footer-contact-title">Kapcsolat</h5>
            <p class="footer-phone-number">Telefonszám: <p class="phone-link-paragraph"><a class="phone-link"
                        href="tel: +36306091024">+36306091024</a></p>
            </p>
            <p class="footer-email">E-mail: <p style="padding-left: 12px;"><a class="email-link"
                        href="mailto:adesszert@gmail.com?subject=Rendelés">adesszert@gmail.com</a></p>
            </p>
        </div>

        <div class="footer-menu">
            <h5 class="footer-menu-title">Menü</h5>
            <div>
                <ul class="footer-ul">
                    <li class="footer-li"><a class="footer-main" href="main">Főoldal</a></li>
                    <li class="footer-li" id="cakes-li"><a class="footer-cakes" href="cakes">Süti lista</a></li>
                    <li class="footer-li" id="order-li"><a class="footer-order" href="order">Rendelés</a></li>
                    <li class="footer-li" id="contact-li"><a class="footer-contact" href="contact">Kapcsolat</a></li>
                </ul>
            </div>
        </div>

        <div class="social">
            <h5 class="follow">Keresd a Desszertet:</h5>
            <div class="icons">
                <a href="https://www.facebook.com/adesszert" target="_blank"><img src="/facebook.png"
                        alt="facebook_logo" class="facebook"></a>
                <a href="https://www.instagram.com/adesszert/" target="_blank"><img src="/instagram.png"
                        alt="instagram_logos" class="instagram"></a>
            </div>
        </div>
    </div>
</footer>