<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/whisk.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>A desszert - Édes üzem</title>
</head>

<body>
    <div class="content">
        <header class="top-header">
            <div class="header-contents">
                <div>
                    <img class="main-logo" src="/adesszert-logo.png" alt="adesszert_logo">
                </div>
                <div class="main-title-div">
                    <h1 class="main-title"><span class="adesszert">A desszert -</span> Édes üzem</h1>
                </div>
            </div>

            <div class="navigations">
                <ul class="navigation-items">
                    <li class="navigation-list-item"><a id="main-page" href="main">Főoldal</a></li>
                    <li class="navigation-list-item"><a id="cakes-page" href="cakes">Süti lista</a></li>
                    <li class="navigation-list-item"><a id="order-page" href="order">Rendelés</a></li>
                    <li class="navigation-list-item"><a id="contact-page" href="contact">Kapcsolat</a></li>
                </ul>
            </div>
        </header>

        <div class="navbar-menu">
            <nav class="navbar menu-navbar">
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#menu">
                    <span class="navbar-toggler-icon" style="width: 40px; height: 20px; position: relative; right: 0;"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="main" class="nav-link">Főoldal</a>
                        </li>
                        <li class="nav-item">
                            <a href="cakes" class="nav-link">Süti lista</a>
                        </li>
                        <li class="nav-item">
                            <a href="order" class="nav-link">Rendelés</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact" class="nav-link">Kapcsolat</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>