<%-include('header.ejs') %>

<div>
    <h1>hello</h1>
</div>
<div>
    <h1>hello</h1>
</div>
<div>
    <h1>hello</h1>
</div>
<div>
    <h1>hello</h1>
</div>
<div>
    <h1>hello</h1>
</div>
<div>
    <h1>hello</h1>
</div>
<div>
    <h1>hello</h1>
</div>
<%- include('footer.ejs') %>
</div>
<script src="/scripts.js"></script>
</body>

</html>