<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/whisk.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>A desszert - Édes üzem</title>
</head>

<body>
    <div class="content">
        <header class="top-header">
            <div class="header-contents">
                <div>
                    <img class="main-logo" src="/adesszert-logo.png" alt="adesszert_logo">
                </div>
                <div class="main-title-div">
                    <h1 class="main-title"><span class="adesszert">A desszert -</span> Édes üzem</h1>
                </div>
            </div>
        </header>

        <div class="brownies">
            <h1 align="center" class="brownie-header">Brownie-k:<br><span class="brownie-glutenfree">(gluténmentes)</span></h1>
        </div>
    </div>
</body>

</html>