html {
  background-color: #f3ece4;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.content {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top-header {
  display: flex;
  height: 130px;
  position: relative;
  background-color: #ffffff;
  font-family: "Leckerli One", cursive;
}

.top-header::before,
.top-header::after {
  border-bottom: 1px solid #f3ece4;
}

.top-header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-size: 20px 40px;
  background-image: radial-gradient(
    circle at 10px -15px,
    transparent 20px,
    #f3ece4 21px
  );
}

.top-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle at 10px 26px,
    #f3ece4 20px,
    transparent 21px
  );
}

.header-contents {
  display: flex;
  flex-direction: row;
}

.main-title-div {
  position: absolute;
  top: 20%;
  margin: 0;
  margin-left: 23%;
}

.main-title {
  color: #e47277;
}

.adesszert {
  color: #5e3c3e;
}

.main-logo {
  height: 110px;
  width: 110px;
  margin-left: 50%;
  padding: 0;
}

.brownies,
.cheesecakes,
.seasonalCheesecakes,
.specialities,
.freeCakes,
.scroll-up-button-div,
.navbar-div,
.separator-cake-div {
  background-color: #f3ece4;
  margin: 0 auto;
}

.brownie-header {
  color: #624143;
  padding-top: 5%;
  font-family: "Leckerli One", cursive;
}

.brownie-glutenfree {
  font-size: 50%;
}

.brownie-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brownie-div {
  width: 280px;
  height: 300px;
  background-color: #fff;
  box-shadow: 2px 5px 15px -8px rgba(0, 0, 0, 0.59);
  border-radius: 5px;
  position: relative;
  margin: 30px;
}

.details-button {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  padding: 10px;
  width: 40%;
  text-align: center;
  border: 1px solid silver;
  background-color: #fff;
  border-radius: 5px;
  color: #e67e83;
  position: relative;
  transition: all 0.2s ease;
  box-shadow: 2px 5px 15px -8px rgba(0, 0, 0, 0.59);
  position: absolute;
  bottom: -7%;
  right: 29%;
}

.details-button:focus {
  outline: 0;
}

.details-button:hover {
  transition: all 0.2s ease;
  color: white;
  border: 1px solid #e67e83;
  background-color: #e67e83;
  cursor: pointer;
}

.cake-image {
  width: 280px;
  height: 190px;
}

.cake-title {
  padding-top: 15px;
  color: #624143;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}

.modal-close-button {
  background-color: #fff;
  color: #e67e83;
  font-weight: bold;
  border: 1px solid #e67e83;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
  width: 20%;
}

.modal-close-button:hover {
  background-color: #e67e83;
  color: white;
}

.modal-close-button:focus {
  outline: none;
}

.scroll-up-button-div {
  position: fixed;
  bottom: 10%;
  right: 8%;
  border-radius: 50%;
}

.scroll-up-button {
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid silver;
  width: 70px;
  height: 70px;
  padding: 10px;
  box-shadow: 2px 5px 15px -8px rgba(0, 0, 0, 0.59);
  text-align: center;
  transition: all 0.2s ease;
}

.scroll-up-button:hover {
  background-color: #e67e83;
  border: 1px solid #e67e83;
  transition: all 0.2s ease;
}

.scroll-up-button:focus {
  outline: none;
}

.scroll-up-button:active {
  background-color: #e96067;
  border: 1px solid #e67e83;
  outline: none;
}

.hover-scroll-button-icon {
  display: none;
}

.start-scroll-button-icon,
.hover-scroll-button-icon {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 5px;
  transition: all 0.2s ease;
}

.scroll-up-button:hover .start-scroll-button-icon {
  display: none;
}

.scroll-up-button:hover .hover-scroll-button-icon {
  display: block;
}

.navbar-div {
  padding-top: 2%;
  position: absolute;
  padding-left: 3%;
}

.navbar {
  width: 200px;
  margin-left: 5%;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid silver;
  position: absolute;
  z-index: 9000;
  font-family: "Cairo", sans-serif;
}

.category-title {
  padding-right: 20%;
  color: #624143;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(98, 65, 67, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63, 42, 43, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler:focus {
  outline: none;
}

.nav-link {
  color: #e67e83;
}

.nav-link:hover {
  color: #e96067;
}

.separator-cake-div {
  margin: 0 auto;
  padding-top: 30px;
}

.cupcake {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .top-header {
    display: flex;
    height: 110px;
    position: relative;
    background-color: #ffffff;
  }

  .main-logo {
    height: 90px;
    width: 90px;
    margin-left: 15%;
  }

  .main-title-div {
    position: absolute;
    top: 32%;
    margin: 0;
    margin-left: 32%;
  }

  .main-title {
    font-size: 120%;
  }

  .brownie-header {
    color: #624143;
    padding-top: 5%;
    font-family: "Leckerli One", cursive;
    font-size: 200%;
  }

  .brownie-glutenfree {
    font-size: 50%;
  }

  .modal-close-button {
    background-color: #fff;
    color: #e67e83;
    font-weight: bold;
    border: 1px solid #e67e83;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
    width: 25%;
  }

  .scroll-up-button {
    width: 60px;
    height: 60px;
    padding: 10px;
  }

  .start-scroll-button-icon,
  .hover-scroll-button-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5px;
  }

  .navbar {
    background-color: #fff;
    width: 180px;
    margin-left: 5%;
    border-radius: 25px;
    color: #fff;
  }

  .category-title {
    padding-right: 15%;
    color: #624143;
  }

  .brownies {
    padding-top: 15%;
  }
}
