html,
body {
  background-color: #f3ece4 !important;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.content {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top-header {
  display: flex;
  height: 150px;
  position: relative;
  background-color: #ffffff;
  font-family: "Leckerli One", cursive;
}

.top-header::before,
.top-header::after {
  border-bottom: 1px solid #f3ece4;
}

.top-header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-size: 20px 40px;
  background-image: radial-gradient(
    circle at 10px -15px,
    transparent 20px,
    #f3ece4 21px
  );
}

.top-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle at 10px 26px,
    #f3ece4 20px,
    transparent 21px
  );
}

.header-contents {
  display: flex;
  flex-direction: row;
}

.main-title-div {
  position: absolute;
  top: 20%;
  margin: 0;
  margin-left: 23%;
}

.main-title {
  color: #e47277;
}

.adesszert {
  color: #5e3c3e;
}

.main-logo {
  height: 110px;
  width: 110px;
  margin-left: 50%;
  padding: 0;
}

.brownies,
.cheesecakes,
.seasonalCheesecakes,
.specialities,
.freeCakes,
.scroll-up-button-div,
.navbar-div,
.separator-cake-div {
  background-color: #f3ece4;
  margin: 0 auto;
}

.brownie-header {
  color: #624143;
  padding-top: 5%;
  font-family: "Leckerli One", cursive;
}

.brownie-glutenfree {
  font-size: 50%;
}

.brownie-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brownie-div {
  width: 280px;
  height: 300px;
  background-color: #fff;
  box-shadow: 2px 5px 15px -8px rgba(0, 0, 0, 0.59);
  border-radius: 5px;
  position: relative;
  margin: 30px;
}

.details-button {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  padding: 10px;
  width: 40%;
  text-align: center;
  border: 1px solid silver;
  background-color: #fff;
  border-radius: 5px;
  color: #e67e83;
  position: relative;
  transition: all 0.2s ease;
  box-shadow: 2px 5px 15px -8px rgba(0, 0, 0, 0.59);
  position: absolute;
  bottom: -7%;
  right: 29%;
}

.details-button:focus {
  outline: 0;
}

.details-button:hover {
  transition: all 0.2s ease;
  color: white;
  border: 1px solid #e67e83;
  background-color: #e67e83;
  cursor: pointer;
}

.cake-image {
  width: 280px;
  height: 190px;
}

.cake-title {
  padding-top: 15px;
  color: #624143;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}

.modal-close-button {
  background-color: #fff;
  color: #e67e83;
  font-weight: bold;
  border: 1px solid #e67e83;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
  width: 20%;
}

.modal-close-button:hover {
  background-color: #e67e83;
  color: white;
}

.modal-close-button:focus {
  outline: none;
}

.scroll-up-button-div {
  position: fixed;
  bottom: 10%;
  right: 8%;
  border-radius: 50%;
}

.scroll-up-button {
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid silver;
  width: 70px;
  height: 70px;
  padding: 10px;
  box-shadow: 2px 5px 15px -8px rgba(0, 0, 0, 0.59);
  text-align: center;
  transition: all 0.2s ease;
}

.scroll-up-button:hover {
  background-color: #e67e83;
  border: 1px solid #e67e83;
  transition: all 0.2s ease;
}

.scroll-up-button:focus {
  outline: none;
}

.scroll-up-button:active {
  background-color: #e96067;
  border: 1px solid #e67e83;
  outline: none;
}

.hover-scroll-button-icon {
  display: none;
}

.start-scroll-button-icon,
.hover-scroll-button-icon {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 5px;
  transition: all 0.2s ease;
}

.scroll-up-button:hover .start-scroll-button-icon {
  display: none;
}

.scroll-up-button:hover .hover-scroll-button-icon {
  display: block;
}

.navbar-div {
  padding-top: 2%;
  position: absolute;
  padding-left: 3%;
}

.navbar {
  width: 200px;
  margin-left: 5%;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid silver;
  position: absolute;
  z-index: 9000;
  font-family: "Cairo", sans-serif;
}

.category-title {
  padding-right: 20%;
  color: #624143;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(98, 65, 67, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63, 42, 43, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler:focus {
  outline: none;
}

.nav-link {
  color: #e67e83;
}

.nav-link:hover {
  color: #e96067;
}

.separator-cake-div {
  margin: 0 auto;
  padding-top: 30px;
}

.cupcake {
  width: 40px;
  height: 40px;
}

.horizontal {
  background-color: #f3ece4;
  margin: 0 auto;
  width: 160px;
  padding-top: 5%;
}

.imageheader {
  display: flex;
  flex-direction: row;
}

.imageheader:before,
.imageheader:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid silver;
  margin: auto;
  padding: 0;
  border-width: 10%;
}

.cake-image:hover {
  transition: all 0.3s ease;
  opacity: 0.7;
}

footer {
  margin-top: 40px;
  width: 100%;
  height: 350px;
  background-image: url("footer.png");
  font-family: "Arvo", serif;
}

.footer-contact-title {
  padding-left: 10%;
  color: whitesmoke;
  text-transform: uppercase;
}

.footer-phone-number {
  padding-left: 10%;
  color: silver;
  padding-top: 2%;
}

.footer-email {
  padding-left: 10%;
  color: silver;
}

.phone-link,
.email-link {
  color: #e47277;
  font-size: larger;
  padding-left: 10px;
  letter-spacing: 1px;
}

.phone-link:hover,
.email-link:hover {
  text-decoration: none;
  color: #e47277;
}

.follow {
  color: whitesmoke;
}

.icons {
  padding-top: 1%;
  padding-left: 7%;
}

.facebook {
  width: 75px;
  height: 75px;
  margin-right: 1%;
}

.instagram {
  width: 60px;
  height: 60px;
}

.ingredient-span,
.allergen-span {
  display: inline-block;
  padding: 6px;
  background-color: #e79ea1;
  color: white;
  border-radius: 7px;
  margin-bottom: 6px;
  margin-top: 2px;
}

.navigations {
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  right: 5px;
  bottom: 2px;
  margin-right: 5%;
  position: absolute;
}

.navigation-items {
  list-style-type: none;
  overflow: hidden;
}

.navigation-list-item {
  float: left;
}

.navigation-list-item a {
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: #5e3c3e;
  transition: all 0.2s ease;
}

.navigation-list-item a:hover {
  color: #e47277 !important;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar-menu {
  right: 4%;
  padding-top: 2%;
  display: none;
  position: absolute;
}

.menu-navbar {
  width: 100px;
}

.footer-menu {
  text-align: left;
  margin: 0 15% 0 13%;
}

.footer-menu-title {
  text-transform: uppercase;
  color: whitesmoke;
  margin-left: 32%;
}

.footer-ul {
  padding-top: 20px;
  list-style-type: none;
  position: absolute;
  margin-left: -1.5%;
}

.footer-li {
  margin-bottom: 20px;
}

.footer-li a {
  color: whitesmoke;
  transition: all 0.3s ease;
}

.footer-li a:hover {
  color: #e47277;
  text-decoration: none;
  transition: all 0.3s ease;
  padding-left: 10px;
}

.footer-div {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 7%;
}

.phone-link-paragraph {
  padding-left: 12px;
}

.contact-top-name-div {
  font-family: "Patrick Hand", cursive;
  padding-top: 6%;
  padding-left: 10%;
}

.contact-name {
  font-size: 30px;
  font-weight: bold;
  color: #5e3c3e;
}

.contact-phone {
  color: #624143;
  font-size: 25px;
  font-weight: bold;
  padding-top: 2%;
}

.contact-phone-link {
  font-weight: lighter;
  color: #e47277;
  padding-left: 1%;
}

.contact-phone-link:hover {
  color: #e47277;
  text-decoration: none;
}

.contact-email {
  color: #624143;
  font-size: 25px;
  font-weight: bold;
  padding-top: 1%;
}

.contact-email-span {
  color: #e47277;
  font-weight: lighter;
  padding-left: 1%;
}

.contact-social {
  color: #624143;
  font-size: 25px;
  font-weight: bold;
  padding-top: 1%;
}

.textarea-header {
  padding-top: 4%;
  color: #624143;
  font-size: 25px;
  padding-bottom: 2%;
}

#contact-textarea {
  width: 25em;
  height: 15em;
  border-radius: 8px;
  border: 1px solid silver;
  resize: none;
  font-size: 19px;
  color: #e96067;
  padding-left: 10px;
  box-shadow: 2px 5px 15px -8px rgba(0, 0, 0, 0.59);
  transition: all 0.2s ease;
}

#contact-textarea:focus {
  outline: none;
  border: 2px solid grey;
  transition: all 0.2s ease;
}

.contact-send-button-div {
  padding-top: 3%;
}

.contact-send-button {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  padding: 10px;
  width: 10%;
  text-align: center;
  border: 1px solid silver;
  background-color: #fff;
  border-radius: 5px;
  color: #e67e83;
  position: relative;
  transition: all 0.2s ease;
  box-shadow: 2px 5px 15px -8px rgba(0, 0, 0, 0.59);
  cursor: pointer;
}

.contact-send-button:focus {
  outline: 0;
}

.contact-send-button:hover {
  transition: all 0.2s ease;
  color: white;
  border: 1px solid #e67e83;
  background-color: #e67e83;
  cursor: pointer;
}

.contact-facebook-icon {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}

.contact-instagram-icon {
  width: 60px;
  height: 60px;
}

@media only screen and (max-width: 600px) {
  .top-header {
    display: flex;
    height: 110px;
    position: relative;
    background-color: #ffffff;
  }

  .main-logo {
    height: 90px;
    width: 90px;
    margin-left: 15%;
  }

  .main-title-div {
    position: absolute;
    top: 32%;
    margin: 0;
    margin-left: 32%;
  }

  .main-title {
    font-size: 120%;
  }

  .brownie-header {
    color: #624143;
    padding-top: 5%;
    font-family: "Leckerli One", cursive;
    font-size: 200%;
  }

  .brownie-glutenfree {
    font-size: 50%;
  }

  .modal-close-button {
    background-color: #fff;
    color: #e67e83;
    font-weight: bold;
    border: 1px solid #e67e83;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
    width: 25%;
  }

  .scroll-up-button {
    width: 60px;
    height: 60px;
    padding: 10px;
  }

  .start-scroll-button-icon,
  .hover-scroll-button-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5px;
  }

  .navbar {
    background-color: #fff;
    width: 180px;
    margin-left: 2%;
    border-radius: 25px;
    color: #fff;
  }

  .category-title {
    padding-right: 15%;
    color: #624143;
  }

  .brownies {
    padding-top: 15%;
  }

  footer {
    font-size: 10px;
    height: 620px;
    text-align: center;
  }

  .footer-contact-title {
    padding-left: 0%;
  }

  .footer-phone-number,
  .footer-email {
    padding-left: 0%;
  }

  .social {
    text-align: center;
    margin-right: 10%;
    padding-left: 10%;
    padding-top: 7%;
  }

  .follow {
    text-transform: uppercase;
  }

  .icons {
    padding-top: 1%;
    margin-left: -10%;
  }

  .facebook {
    width: 75px;
    height: 75px;
    margin-right: 3%;
  }

  .instagram {
    width: 60px;
    height: 60px;
  }

  .navigations {
    display: none;
  }

  .menu-navbar {
    width: 100px;
  }

  .navbar-menu {
    display: block;
  }

  .footer-div {
    padding-top: 12%;
    display: flex;
    margin-left: 4%;
    flex-direction: column;
    text-align: center;
  }

  .footer-menu {
    padding-left: 11%;
    padding-top: 7%;
  }

  .footer-menu-title {
    text-transform: uppercase;
    color: whitesmoke;
    margin-left: 28%;
  }

  .footer-ul {
    text-align: center;
    position: relative;
    padding-right: 32%;
    padding-top: 10px;
    list-style-type: none;
  }

  .phone-link-paragraph {
    padding-left: 0;
  }

  .paragraphs {
    text-align: center;
  }

  .contact-top-name-div {
    padding-top: 10%;
    padding-left: 10%;
  }

  .contact-name {
    font-size: 20px;
  }

  .contact-phone {
    font-size: 17px;
    font-weight: bold;
    padding-top: 2%;
  }

  .contact-phone-link {
    padding-left: 1%;
  }

  .contact-phone-link:hover {
    text-decoration: none;
  }

  .contact-email {
    font-size: 17px;
    padding-top: 1%;
  }

  .contact-email-span {
    padding-left: 1%;
  }

  .textarea-header {
    padding-top: 4%;
    font-size: 17px;
    padding-bottom: 2%;
  }

  #contact-textarea {
    width: 17em;
    height: 13em;
    border: 1px solid silver;
    resize: none;
    font-size: 15px;
  }

  #contact-textarea:focus {
    border: 1px solid grey;
    transition: all 0.2s ease;
  }

  .contact-send-button {
    padding: 10px;
    width: 25%;
    text-align: center;
    position: relative;
  }

  .contact-social {
    font-size: 17px;
    padding-top: 1%;
  }

  .contact-facebook-icon {
    width: 60px;
    height: 60px;
  }

  .contact-instagram-icon {
    width: 50px;
    height: 50px;
  }
}
