html {
  background-color: #f3ece4;
  margin: 0 auto;
}

.top-header {
  display: flex;
  height: 130px;
  position: relative;
  background-color: #ffffff;
  font-family: 'Leckerli One', cursive;
}

.top-header::before,
.top-header::after {
  border-bottom: 1px solid #f3ece4;
}

.top-header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-size: 20px 40px;
  background-image: radial-gradient(
    circle at 10px -15px,
    transparent 20px,
    #f3ece4 21px
  );
}

.top-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle at 10px 26px,
    #f3ece4 20px,
    transparent 21px
  );
}

.header-contents {
  display: flex;
  flex-direction: row;
}

.main-title-div {
  position: absolute;
  top: 20%;
  margin: 0;
  margin-left: 23%;
}

.main-title {
  color: #E47277;
}

.adesszert {
  color: #5e3c3e;
}

.main-logo {
  height: 110px;
  width: 110px;
  margin-left: 50%;
  padding: 0;
}

.brownies, .cheesecakes, .seasonalCheesecakes, .specialities {
  background-color: #f3ece4;
  margin: 0 auto;
}

.brownie-header {
  color: #624143; 
  padding-top: 5%; 
  font-family: 'Leckerli One', cursive;
}

.brownie-glutenfree {
  font-size: 50%;
}

.brownie-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3%;
}

.brownie-div {
  width: 280px;
  height: 300px;
  background-color: #fff;
  box-shadow: 2px 5px 15px -8px rgba(0, 0, 0, 0.59);
  border-radius: 5px;
  position: relative;
  margin: 30px;
}

.details-button {
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  padding: 10px;
  width: 40%;
  text-align: center;
  border: 1px solid silver;
  background-color: #fff;
  border-radius: 5px;
  color: #e67e83;
  position: relative;
  transition: all 0.2s ease;
  box-shadow: 2px 5px 15px -8px rgba(0, 0, 0, 0.59);
  position: absolute;
  bottom: -7%;
  right: 29%;
}

.details-button:focus {
  outline: 0;
}

.details-button:hover {
  transition: all 0.2s ease;
  color: white;
  border: 1px solid #e67e83;
  background-color: #e67e83;
  cursor: pointer;
}

.cake-image {
  width: 280px;
  height: 190px;
}

.cake-title {
  padding-top: 15px;
  color: #624143;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

.modal-close-button {
  background-color: #fff;
  color: #e67e83;
  font-weight: bold;
  border: 1px solid #e67e83;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
  width: 20%;
}

.modal-close-button:hover {
  background-color: #e67e83;
  color: white;
}

.modal-close-button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .top-header {
    display: flex;
    height: 110px;
    position: relative;
    background-color: #ffffff;
  }

  .main-logo {
    height: 90px;
    width: 90px;
    margin-left: 15%;
  }

  .main-title-div {
    position: absolute;
    top: 32%;
    margin: 0;
    margin-left: 32%;
  }

  .main-title {
    font-size: 120%;
  }

  .brownie-header {
    color: #624143; 
    padding-top: 5%; 
    font-family: 'Leckerli One', cursive;
    font-size: 200%;
  }
  
  .brownie-glutenfree {
    font-size: 50%;
  }

  .modal-close-button {
    background-color: #fff;
    color: #e67e83;
    font-weight: bold;
    border: 1px solid #e67e83;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
    width: 25%;
  }
}
